.header{
    color: #22346E;
}

#container h1 {
    color: #22346E; /* Cor azul desejada */
}
.patient-info-container {
    display: flex; 
    gap: 10px;
    margin-bottom: 10px;
}

.container-right{
    position: relative;
}

.icon-search{
    color: #A09FA6;
}

.input-bar-sus-number{
    border-radius: 4px;
    border: 1px solid #A09FA6;
    width: max-content;
    margin-right: 10px;
    color: #A09FA6;
    outline: none;
    
}

.input-bar-patient-name{
    border-radius: 4px;
    border: 1px solid #A09FA6;
    width: 100%;
    color: #A09FA6;
    outline: none;
}

.input-spacing{
    margin-top: 10px;
}

form, form > section{
    height: 100%;
}

form {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.input-bar-date{
    color: #A09FA6;
    border: 2px solid #A09FA6;
    border-radius: 5px;
}

.button-user-link {
    width: 100%;
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    background-color: #5373E7; /* Cor de fundo do botão */
    color: #FFFFFF; /* Cor do texto do botão */
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.button-user-link:hover {
    background-color:#5373E7;
    ; /* Cor de fundo do botão ao passar o mouse */
}

/* Estilo para a caixa de observações médicas */
#medical-observations {
    width: 100%;
    height: 91px;
    padding: 8px;
    border: 1px solid #7E7D86;
    margin-bottom: 10px;
}

/* Estilo para a caixa de dados clínicos */
#clinical-data {
    width: 100%;
    height: 91px;
    padding: 8px;
    border: 1px solid #7E7D86;
    margin-bottom: 10px;
 }

.input-spacing {
    margin-bottom: 15px; 
}

.button-user {
    margin-top: 15px; 
}

.input-spacing-checkbox.checkbox-container {
    display: flex;
    flex-wrap: wrap; /* Para permitir que os itens se movam para a próxima linha se não houver espaço suficiente */
}

.input-spacing-checkbox input[type="checkbox"] {
    margin-right: 30px; /* Espaçamento entre o checkbox e o texto */
    appearance: none; /* Remove o estilo padrão do sistema */
    width: 6px; /* Defina a largura desejada da caixa de seleção */
    height: 5px; /* Defina a altura desejada da caixa de seleção */
    background-color: #A09FA6; /* Cor de fundo do checkbox */
    border: 1px solid #A09FA6; /* Cor da borda do checkbox */
    border-radius: 4px; /* Borda arredondada */
    
}
.input-spacing-checkbox input[type="checkbox"]:checked {
    background-color: #5373E7; /* Cor de fundo quando a caixa de seleção estiver marcada */
    border-color: #5373E7; /* Cor da borda quando a caixa de seleção estiver marcada */
}

.input-spacing-checkbox label {
    display: flex;
    align-items: center;
}

.input-spacing-checkbox {
    margin-right: 30px;
    margin-bottom: 10px;
    margin-top: 5px;
    display: flex;
    align-items: center;
    color: #22346E;

}
