@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

@import url('./colors/light.css');

:root {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings: "slnt" 0;
}

#anamnese-title {
    width: 704px;
    height: 39px;
    position: absolute;
    top: 0;
    left: 0;
    margin: 10px;
    margin-top: 85px;
    margin-left: 70px;
    size: 32px;
    line-height: 38.73px;

    /* Adicionei margem para afastar do topo e da esquerda */
    color: var(--blue-6);
    /* Cor do texto */
    font-size: 32px;
    /* Tamanho da fonte */
    font-weight: bold;
    /* Peso da fonte */
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
    color: var(--blue-6);
}

label {
    font-size: 14px;
    color: var(--blue-6);
}