:root {
    --blue-1: #131620;
    --blue-2: #15192D;
    --blue-3: #192140;
    --blue-4: #1C274F;
    --blue-5: #1F2C5C;
    --blue-6: #22346E;
    --blue-7: #273E89;
    --blue-8: #2F4EB2;
    --blue-9: #3E63DD;
    --blue-10: #5373E7;
    --blue-11: #849DFF;
    --blue-12: #EEF1FD;
    --gray-1: #161618;
    --gray-2: #1C1C1F;
    --gray-3: #232326;
    --gray-4: #28282C;
    --gray-5: #2E2E32;
    --gray-6: #34343A;
    --gray-7: #3E3E44;
    --gray-8: #504F57;
    --gray-9: #706F78;
    --gray-10: #7E7D86;
    --gray-11: #A09FA6;
    --gray-12: #EDEDEF;
    --red-10: #EC5E41;
    --red-12: #FEEFEC;

}