.header{
    color: #22346E;
}

.patient-info-container {
    display: flex; 
    gap: 10px;
    margin-bottom: 10px;
}

.container-right{
    position: relative;
}

.icon-search{
    color: #A09FA6;
}

.input-bar-sus-number{
    border-radius: 4px;
    border: 1px solid #A09FA6;
    width: max-content;
    margin-right: 10px;
    color: #A09FA6;
    outline: none;
    
}

.input-bar-patient-name{
    border-radius: 4px;
    border: 1px solid #A09FA6;
    width: 100%;
    color: #A09FA6;
    outline: none;
}

.input-spacing{
    margin-top: 16px;
}

form, form > section{
    height: 100%;
}

form {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.option-user-type{
    border: 2px solid #A09FA6;
    border-radius: 5px;
    background: #1E90FF;
    color: #fff;
}
